[Unit]
Description=karmabot
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/.karmabot/
ExecStart=/usr/bin/env poetry run 

[Install]
WantedBy=multi-user.target
